body {
    margin: 0;
    background-color: rgb(220,230,200);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#top_leaf {
    animation: leaf 2s ease infinite;
    transform-origin: bottom right;
    transform-box: fill-box;
    transform: rotate(10deg);
}

#bottom_leaf {
    animation: leaf 2s linear infinite;
    transform-origin: top right;
    transform-box: fill-box;
    transform: rotate(10deg);
}

#legs {
    animation: bounce 2s linear infinite;
    transform-origin: top;
    transform-box: fill-box;
}

#hair_bottom {
    animation: bounce 2s ease infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}

#hair_bottom, #hair_top {
    animation: hairFlow 2s linear infinite;
    transform-origin: top right;
    transform-box: fill-box;
}

#upper_body, #hair_bottom, #hair_top {
    animation: sideToSide 2s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;
    transform: rotate(-1deg);
}

#ribbon_left {
    animation: sideToSide 2s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
    transform: rotate(-1deg);
}

#ribbon_right {
    transform: rotate(7deg) scaleX(0.9) translate(0, 60%);
    animation: zAxis 2s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes leaf {
    0% {
        transform: translate(0,0) rotate(10deg);
    }
    
    50% {
        transform: translate(0, -10%) rotate(30deg);
    }

    100% {
        transform: translate(0,0) rotate(10deg);
    }
}

@keyframes bounce {
    0% {
        transform: rotateX(0)
    }

    50% {
        transform: rotateX(-20deg)
    }

    100% {
        transform: rotateX(0)
    }
}

@keyframes hairFlow {
    0% {
        transform: rotate(0)
    }

    50% {
        transform: rotate(5deg)
    }

    100% {
        transform: rotate(0)
    }
}

@keyframes sideToSide {
    0% {
        transform: rotate(-1deg)
    }

    50% {
        transform: rotate(1deg)
    }

    100% {
        transform: rotate(-1deg)
    }
}

@keyframes zAxis {
    0% {
        /* transform: rotate(-1deg) */
        transform: rotate(5deg) scaleX(0.9) translate(0, 60%);
    }

    50% {
        /* transform: rotate(1deg) */
        transform: rotate(10deg) scaleX(1) translate(0, 30%)
    }

    100% {
        /* transform: rotate(-1deg) */
        transform: rotate(5deg) scaleX(0.9) translate(0, 60%);
    }

}